div.Gallery-closeTarget
{
    position:fixed !important;
}
img.media-image
{
    width:auto !important;
    height:auto !important;
}
div.Gallery-media
{
    overflow: scroll !important;
    width: auto !important;
}
div.Gallery-content
{
    width: inherit !important;
    max-width: 90%;
}